* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #e7e6e6;
}
.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}
button {
  border: none;
  width: 60px;
  height: 60px;
  margin: 10px;
  cursor: pointer;
  background-color: #3f3b3b;
  color: #cecece;
  font-size: 30px;
  border-radius: 10px;
  -webkit-box-shadow: -1px 4px 16px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 16px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 16px -3px rgba(0, 0, 0, 0.75);
}
.operator-btn {
  background-color: #ffab07;
  color: #3f3b3b;
}
#type {
  width: 100%;
  padding: 10px;
  font-size: 28px;
  text-align: left;
  border: none;
  color: #5f5b5b;
  margin-left: 10px;
  height: 50px;
}
#result {
  width: 100%;
  padding: 25px;
  font-size: 40px;
  text-align: right;
  border: none;
  color: #3f3b3b;
  height: 100px;
}
.container {
  max-width: 500px;
  overflow: hidden;
  background-color: #cecece;
  border: 1px solid #cecece;
  border-radius: 10px;
  -webkit-box-shadow: -1px 4px 16px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 4px 16px -3px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 4px 16px -3px rgba(0, 0, 0, 0.75);
}
.result-div {
  background-color: white;
}
